*{
    margin: 0;
    padding: 0;
}
body{
    margin:0;
    padding: 0;

}
/* --Header section-- */
.header-wraper {
    background: #ffffff;
}
nav.navbar.navbar-expand-lg.navbar-light {
    padding: 0px 20px;
    border-bottom: 0.7px solid rgba(228, 228, 228, 0.438);
}
div#navbarNavAltMarkup {
    justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link:active{
   color:#1abc9c;
}
.navbar-light .navbar-nav .nav-link {
   color:black;
   font-size: 12px;
   font-weight: 400;
   letter-spacing: 3px;
   padding-left: 22px;
   padding-right: 22px;
   text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover {
   color: #1abc9c;
}

.menu-list li{
    padding-left: 22px;
    padding-right: 22px;
}
/* **Slider section** */
.slider-wraper {
    background: url(./image/developer.svg) 103% 50px / auto 75% no-repeat rgb(249, 249, 249);
    padding: 270px 0px 165px;
    padding-bottom: 186px;
    margin-top: -72px;
}
.slider-content{
    margin-top: -50px;
    width: 500px;
}
.slider-content span{
    color: gray;
    font-weight: 100;
    letter-spacing: 6px;
}
.slider-content h1{
    font-weight: 700;
    font-size: 58px;
    letter-spacing: -1px;
    font-family: 'Merriweather', serif !important;
    line-height: 1;
    color: #084678;
}
.slider-content p{
    font-weight: 300;
    color: gray;
    font-size: 21px;
    margin: 35px 0px;
}
.button{
    display: inline-block;
    text-transform: uppercase;
    font-size: 16px;
    background: #084678;
    color: #ffff;
    padding: 10px 30px;
    border-radius: 25px;
    border: 0px;
    font-weight: 500;
    outline-style: none;
    text-decoration: none;
}
.button:hover{
    color: aliceblue;
}
/* About-section */
.about-section{
    position: relative;
    padding-top: 720px;
    padding-bottom: 120px;
  
}
.about-heading{
        
}
.about-heading h2 {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 42px;
    line-height: 1.5;
}
.about-heading p {
    font-weight: 300;
    font-size: 20px;
    color: gray;
    display:block;
    width: 80%;
    margin:auto;
}
.about-heading a:hover{
    color: black;
}
.about-heading a{
    box-decoration-break: slice;
    display: inline-block;
    margin-top: 30px;
    color: #1abc9c;
}
.about-section .members{
    margin-top: 120px;
}
.about-section .members img{
    width: 89%;
    display: block;
    margin-bottom: 20px;
}
.img-wraper{
    position: relative;
}
.img-impression{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background: rgba(245, 245, 245, 0.596);
    width: 89%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
}
.img-wraper:hover .img-impression{
    visibility: visible;
    opacity: 1;
}
.img-impression a i {
    transition: all .5s;
    padding: 10px;
    color: rgb(24, 23, 23);
    display: inline-block;
    margin: 45px 10px;
    font-size: 17px;
}
.img-impression a:hover i{
    background: black;
    color: wheat;
    border-radius: 5px;
    font-size: 20px;
  
}
.about-section .members strong{}
.about-section .members p{color: gray;}
    
/* card section */
.card-body {
    width: 76%;
    padding: 80px 55px;
    box-shadow: 2px 6px 50px #0084ff1f;
    border-radius: 20px;
    position: absolute;
    top: -142px;
    left: 175px;
    background: #ffff;
}
.card-body span{
    display: inline-block;
    margin-bottom: 30px;
    color: gray;
    font-weight: 100;
}
.card-body h2{
    margin-bottom: 30px;
    font-family: 'Merriweather', serif !important;
    font-size: 55px;
    color: #084678;
}
.card-body p{
    display: inline-block;
    line-height: 2;
    font-weight: 400;
    color: gray;
    font-size: 17px;
    margin: 25px 0px;
}
.card-body .button{
    margin: 20px 0px;
    display: inline-block;

}
.card-body .card-right h2{
    color: #444444;
}
.card-body .card-right .button{
    background: #444444;
}

.card-body .card-right .button:hover{
    background: #1abc9c;
    transition: .4s ease-in-out;
}

/*******Gallery section******/
.gallery-section{}
.gallery-content{
    background: #ffffff;
    padding: 60px;
}
.gallery-title{
    text-align: center;
    background: #F9F9F9;
    width: 100%;
}
.gallery-title p{

}
.heading{
    display: inline-block;
    font-size: 28px;
    width: 65%;
    font-weight: 300;
    color: #444444;
    margin: auto;
    padding: 50px 0px;
}
.gallery-item{
    position: relative;
    overflow:hidden;
}
.gallery-impression h3 {
    font-size: 25px;
    font-weight: 300;
}
.gallery-impression span{
    font-weight: 300;
    color: gray;
}
.gallery-impression{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -20px;
    left: 0;
    background: #f9f9f9ce;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: .4s ease-in-out;
}
.gallery-item:hover .gallery-impression{
        cursor: pointer;
        visibility: visible;
        opacity: 1;
        top: 0;
}
.gallery-section .button {
    border: 1.5px solid #444444;
    color: black;
    background: white;
    width: auto;
    margin: 51px auto;
    transition:all .5s;
}
.gallery-section .button:hover{
    background: #444444;
    color: #ffffff;
}
/* Service-section */
.service-section{
    background: #f9f9f9ce;
}
.service-section img{
    width: 100%;
}
.service-section p{

}
.service-item {
    margin-bottom: -1px;
    margin-right: 11px;
    margin-left: -12px;
    padding: 48px 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ededed;
}
.service-item i{
    color: rgb(212, 70, 51);
    font-size: 55px;
    margin: 20px;
}
.service-item h6{font-size: 14px;}

/* Get-service section */
.quote-section {
   
    background: url(./image/testimonials.jpg) 49% 190% fixed;
    padding-bottom: 20px;
   
}

.quote.service{}
.quote-content{
    background:#2c2c2c;
    display: flex;
    justify-content: center;
    padding: 60px 0px;
}
.quote-content h2{
    font-weight: 200;
    color: #ffffff;
    margin-right: 10px;
}
.quote-content .button{
    background: #2c2c2c;
    border: 1px solid #ffffff;
    color: white;
    transition:all .3s ease-in-out;
}
.quote-content .button:hover{
    background: white;
    color: #333;
}
/* 88888888 carousel 88888888888 */
.testimonial{ margin: 0 10px; }
.testimonial .testimonial-content{
    margin: 20px 0 50px 0;
    position: relative;
}
.testimonial .testimonial-content:after{
    content: "";
    width: 20px;
    height: 20px;
    border-top: 20px solid #ffffff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    margin: 0 auto;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
}
.testimonial .description{
    margin: 0;
    background: #ffffff00;
    border-radius: 15px;
    font-size: 16px;
    color: #fff;
    position: relative;
}
.testimonial .description:before,
.testimonial .description:after{
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 8px;
    text-align: center;
    background: #ffffff00;
    position: absolute;
}

.testimonial .testimonial-profile{
    display: table;
    padding: 15px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ffffff;
    float: left;
    overflow: hidden;
}
.testimonial .pic img{
    width: 100%;
}
.testimonial .title{
    display: inline-block;
    margin: 0 0 0 30px;
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: 22px;
}
.testimonial .title:before{
    content: "";
    width: 1px;
    height: 70px;
    background: #ffffff00;
    position: absolute;
    top: -8px;
    left: -15px;
}
.testimonial .post{
    display: block;
    font-size: 14px;
    font-weight: normal;
    color: rgb(212, 212, 212);
    margin-top: 10px;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-page span{
    background: transparent;
    border: 1px solid #ffffff;
    opacity: 1;
}
.owl-theme .owl-controls .owl-page.active span{
    background: #ffffff;
    border: 1px solid #ffffff;
}
@media only screen and (max-width: 479px){
    .testimonial .description{
        padding: 20px;
        font-size: 16px;
    }
    .testimonial .testimonial-profile{ padding: 10px; }
    .testimonial .title{ font-size: 16px; }
    .testimonial .post{ font-size: 13px; }
}
/* //blog-section// */
.blog-section{}
.blog-header{
    background: #ffffff;
    padding-top: 220px;
}
.blog-header h2 {
    letter-spacing: 3px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 40px;
}
/* //Blogs-section//// */
.blogs-wraper{
    padding: 50px 0px;
    background: #F9F9F9;
}
.blogs-item{}
.blogs-item img{
    width: 100%;
    border-radius:5px;
}
.blogs-item .blogs-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blogs-item span{
    color: gray;
}
.blogs-item h2 {
    font-weight: 400;
    margin: 10px 0px;
    font-size: 20px;
}
.blogs-item h2:hover{
    color: #1abc9c;
}
.blogs-item a{
    margin-top: 10px;
    display: inline-block;
    color: #1abc9c;
}
.blogs-item a i {
    margin-left: 5px;
    font-size: smaller;
}


.blogs-item a:hover{
    color: black;
}
/* ***Brands -logo -section*** */
.brand-carusel{
    padding: 80px 0px;
}
.brand-carusel img{
    width: 80%;
}
/* **Map-sectio**** */
.address {
    margin-left: -10px;
    background: #f6f6f6;
    padding: 40px 60px;
}
.address h2{
    font-size: 24px;
    font-weight: 400;
}
.all-address{
    margin: 50px 0px;
    width: 58%;
}
.address h5{
    color: #555;
}
.address span{
    color: #555;
}
/* contact-form */
.contact-form{
    padding:50px;
}
.common{
    display: inline-block;
    font-size: 20px;
    outline: none;
    border: none;
    border-bottom: 1.5px solid rgba(196, 196, 196, 0.404);
    padding: 9px 2px;
    margin-right: 25px;  margin-top: 32px;
}
.contact-form .name {
      width: 44%;
}
.contact-form .phone{
    width: 34%;
   
}
.contact-form .subject{
    width: 54%;
}
.contact-form textarea {
  
    width: 93%;

}
.contact-form .button{
    font-size: 14px;
    background: #ffffff;
    color: #444444;
    border: 1px solid #444444;
}
.contact-form .button:hover{
    background: #444444;
    color: #ffffff;
}
.contact-form span{
    margin-bottom: 70px;
    color: #555;
    font-size: 14px;
}
/* **Footer section**** */
.footer-wraper{
    background: #282828;
    padding: 50px 0px;
    color: #ffffff;
}
.footer-wraper h3 {
    letter-spacing: 2px;
    font-size: 24px;
    font-weight: 300;
    color: #e2e2e2;
    margin-bottom: 50px;
}
.footer-wraper .menu {
    margin: 0;
    list-style: none;
    padding: 0;
}
.footer-wraper .menu li{
    margin: 5px 0px;
}
.footer-wraper .menu li a {
    font-size: 18px;
    text-decoration: none;
    color: #acacac;
}
.footer-wraper input {
    margin-bottom: 31px;
    outline: none;
    width: 95%;
    text-align: center;
    padding: 5px 5px;
}
.footer-wraper .button {
    font-weight: 400;
    background: none;
    border: 1.5px solid #ffffff;
    font-size: 14px;
    letter-spacing: 1px;
    transition: all .3s ease-in-out;
}
.footer-wraper .button:hover{
    background: #ffffff;
    color: black;
}
.footer-wraper address{
    padding: 0px 70px;
    color:#acacac;
    font-size: 18px;
}
.social-menu{
    padding: 0;
    margin: 0;
    list-style:none;
}
.social-menu li{
    display: inline-block;
    margin: 0px 10px;
}
.social-menu li a {

    color: #ffffff;
    display: inline-block;
    transition: all.2s ease-in-out;
}
.social-menu li:hover a{
        transform: scale(2);
}
.footer-bottom{
    background: #202020;
    padding: 40px 0px;
}
.footer-bottom span{
    color: #acacac;
}
     

/*++++++++++======Css Responsive part=======++++++++++++++ */
/*++++++++++======Css Responsive part=======++++++++++++++ */
/*++++++++++======Css Responsive part=======++++++++++++++ */
/*++++++++++======Css Responsive part=======++++++++++++++ */
/*++++++++++======Css Responsive part=======++++++++++++++ */

@media screen and (max-width:1080px) {
    
    .slider-wraper {
        background: url(./image/developer.svg) 110% 120px / auto 46% no-repeat rgb(249, 249, 249);
    }
    .card-body {
        left: 126px;
    }
}
@media screen and (max-width:780px){
    .slider-wraper {
        background: url(./image/developer.svg) 131% 117px / auto 134% no-repeat rgb(249, 249, 249);
    }
    .card-body {
        left: 70px;
    }
    .slider-content p {
        width: 80%;
        display: inline-block;
        color: black;
    }
    .about-heading h2 {
        font-size: 35px;
        margin-top: 200px;
    }

}

@media screen and (max-width:480px){
    .card-body {
        left: 50px;
    }
    .about-heading h2 {
        font-size: 28px;
        margin-top: 270px;
    }
    .about-section .members img {
        width: 100%;
    }
    .gallery-title p {
        font-size: 16px;
    }
    .service-section p {
        font-size: 18px;
    }
    .quote-content {
        text-align: center;
        display: block;
   
    }
    .quote-content .button {
        margin-top: 30px;
    }
        .contact-form .name {
            width: 100%;
        }
        .contact-form .phone {
            width: 100%;
        }
        .contact-form .subject {
            width: 100%;
        }
        .contact-form textarea {
            width: 100%;
        }
        .footer-wraper h3 {
            margin-top: 30px;
            margin-bottom: 20px;
        }
        .footer-wraper input {
            width: 70%;
        }
        .img-impression {
            width: 100%;
        }
}
